<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center">My Activities</h1>
      {{#if activities}}
      <ul class="list-group">
        {{#each activities}}
        <li class="list-group-item">
          <h2>{{title}}</h2>
          <p><strong>Category:</strong> {{category}}</p>
          <p><strong>Description:</strong> {{description}}</p>
          <p><strong>Price:</strong> €{{price}}</p>
          <p><strong>Review:</strong> {{review}}</p>
          <p><strong>Tips:</strong> {{tips}}</p>
          <img src="{{imageUrl}}" alt="{{title}}" width="400" height="400">
          <div class="row">
            <div class="col-md-8">
              <div class="btn-group" role="group" aria-label="Actions">
                <form action="/activities/{{_id}}/delete" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form action="/activities/{{_id}}/edit">
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
      {{else}}
      <p>No activities found.</p>
      {{/if}}
      <a href="/activities/create" class="btn btn-success mt-3">Create New Activity</a>
    </div>
  </div>
</div>