<h2>Edit the activity: {{activity.title}}</h2>

<form method="POST" action="/activities/{{activity._id}}/edit">
    <label> Title:
        <input type="text" name="title" value="{{activity.title}}" />
    </label>

     <label for="category">Category:</label>
    <select id="category" name="category" required>
        <option value="museum">Museum</option>
        <option value="experience">Experience</option>
        <option value="food">Food</option>
    </select>
    </label>
    
    <label> Description:
        <textarea name="description" cols="30" rows="4">{{activity.description}}</textarea>
    </label>

    <label> price:
        <input type="number" name="price" min="1" max="1000" value="{{activity.price}}" />
    </label>

      <label> review:
        <input type="number" name="review" min="1" max="5" value="{{activity.review}}" />
    </label>

      <label> tips:
        <input type="text" name="tips"  value="{{activity.tips}}" />
    </label>

    <button>Save changes</button>
</form>